<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Advice by SafeSpace</title>
    <style type="text/css">
        body{background-color: #F1E6FC; text-align: center; font: 2em georgia; color: black}
        /* unvisited link */
        a:link {
            color: black;
            text-decoration: none;
            font-family: Century Gothic;
        }

        /* visited link */
        a:visited {
            color: black;
        }

        /* mouse over link */
        a:hover {
            color: green;
        }

        /* selected link */
        a:active {
            color: red;
        }



    </style>
    </head>
    <body>
        <div id="main">
            <a href=content><img src="content.png" alt="safespace" width="250" height="250"> </a>
            <a href=angry><img src="angry.png" alt="safespace" width="250" height="250"></a>
            <a href=anxious><img src="anxious.png" alt="safespace" width="250" height="250"></a>
            <a href=frustrated><img src="frustrated.png" alt="safespace" width="250" height="250"></a>
            <a href=disappointed><img src="dissapointed.png" alt="safespace" width="250" height="250"></a>
            <a href=confused><img src="confused.png" alt="safespace" width="250" height="250"></a>
        </div>

    </body>
</html>
