<!DOCTYPE html>
<html>
<title>Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<!-- Header -->
<header>
      <title>SafeSpace</title>
      <style type="text/css">
          body{background-color: #F1E6FC; text-align: center;
              font-family: 'Century Gothic'; color: black}

          h1{

              font-family: 'Century Gothic';
          }
          /* unvisited link */
          a:link {
              color: black;
              text-decoration: none;
              font-family: 'Century Gothic';
          }

          /* visited link */
          a:visited {
              color: black;
          }

          /* mouse over link */
          a:hover {
              color: green;
          }

          /* selected link */
          a:active {
              color: red;
          }
          nav ul ul {
          	display: none;
          }

          	nav ul li:hover > ul {
          		display: block;

          	}

          .enter{
              width: 100px;
              height: 15px;
              background-image: url("safespace_logobg.png");
              background-size: 150px 50px;
              color: #fff;
              padding: 10px;
              font-size: 10pt;
              margin: auto;

              -webkit-transition: all .5s ease-in-out;
              -moz-transition: all .5s ease-in-out;
              -o-transition: all .5s ease-in-out;
              -ms-transition: all .5s ease-in-out;
          }

          .enter a{ color: #fff; }
          .enter:hover{
              opacity: 0.7;
          }

          #main_div img{
              width: 200px;
              height: auto;
              margin-top: 0px;
          }
          nav ul {
  	background: white;

  	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
  	padding: 0 20px;
  	border-radius: 10px;
  	list-style: none;
  	position: relative;
  	display: inline-table;
  }
  	nav ul:after {
  		content: ""; clear: both; display: block; color: #fff;
  	}
          nav ul li {
  	float: left;
  }
  	nav ul li:hover {
  		background: #BD9D7D;
  	}
  		nav ul li:hover a {
  			color: #fff;
  		}

  	nav ul li a {
  		display: block; padding: 15px 30px;
  		color: antiquewhite; text-decoration: none;
  	}
          nav ul ul {
  	background: #E0D1C2; border-radius: 0px; padding: 0;
  	position: absolute; top: 100%;
  }
  	nav ul ul li {
  		float: none;
  		border-top: 1px solid #E0D1C2;
  		border-bottom: 1px solid #E0D1C2;
  		position: relative;
  	}
  		nav ul ul li a {
  			padding: 150px 40px;
  			color: #fff;
  		}
  			nav ul ul li a:hover {
  				background: #BD9D7D;
  			}
          nav ul ul ul {
  	position: absolute; left: 100%; top:0;
  }

  #emotions{
    position: flex;
    margin: auto;
    width: 450px;
  }
  .ltext{
    font-family: 'Century Gothic';
    color: #fff;
    font-size: 12pt;
    top: 55px;
    position: relative;
    text-align: center;
    width: 150px;
  }

  .l1, .l2, .l3, .l4, .l5, .l6{
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    text-shadow: 2px 2px 5px #000;
    overflow: hidden;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
  }

  .l1:hover, .l2:hover, .l3:hover, .l4:hover, .l5:hover, .l6:hover{ opacity: 0.5;}

  .l1{background-image: url("content.png");}
  .l2{margin-top: -150px; margin-left: 150px; background-image: url("angry.png");}
  .l3{margin-top: -150px; margin-left: 300px; background-image: url("anxious.png");}
  .l4{background-image: url("frustrated.png");}
  .l5{margin-top: -150px; margin-left: 150px; background-image: url("dissapointed.png");}
  .l6{margin-top: -150px; margin-left: 300px; background-image: url("confused.png");}
      </style>
      <body>
            <div id=main_div>
                <aside><img class=img_home src="safespace_transparent.png" alt="safespace" width="250" height="71"> </aside>
              <nav>
           <ul>
               <li><a href="dashboard">Home</a></li>
               <li><a href="advice">Advice</a></li>
               <li><a href="events">Events</a></li>
               <li><a href="question_of_the_day">#qotd</a></li>
           </ul>
               </div>
          <h1>

            "Wondrous is the strength of cheerfulness, and its power of endurance"
          <hr>

          <div id="emotions">
            <a href=content><div class="l1"><div class="ltext">content</div> </div></a>
            <a href=angry><div class="l2"><div class="ltext">angry</div> </div></a>
            <a href=anxious><div class="l3"><div class="ltext">anxious</div> </div></a>
            <a href=frustrated><div class="l4"><div class="ltext">frustrated</div> </div></a>
            <a href=disappointed><div class="l5"><div class="ltext">disappointed</div> </div></a>
            <a href=confused><div class="l6"><div class="ltext">confused</div> </div></a>
          </div>

          <div class="w3-container">
          <div class="w3-responsive w3-card-4">
          <footer class="w3-container w3-blue-grey">
            <p class="w3-opacity">Stay safe and feel safe</p>
          </footer>
      </body>
</html>
