<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>SafeSpace</title>
    <style type="text/css">
        body{text-align: center; font: 2em georgia; color: black} 
        /* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: black;
}
        
    </style>
    </head>
    <body>
        <div id=main_div>
            <aside><img class=img_home src="title.png" alt="safespace" width="750" height="213"> </aside>
             <nav>
         
             <a href=home.html>ENTER HERE</a>
        <div id=body> <div id=header_div>
            </div>
             </div>
                 
            </nav>
            
    </body>
</html>