<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>SafeSpace</title>
    <style type="text/css">
        body{background-color: #F1E6FC; text-align: center; margin-top:300px; font: 2em georgia; color: black}
        /* unvisited link */
        a:link {
            color: black;
            text-decoration: none;
            font-family: Century Gothic;
        }

        /* visited link */
        a:visited {
            color: black;
        }

        /* mouse over link */
        a:hover {
            color: green;
        }

        /* selected link */
        a:active {
            color: red;
        }

        .enter{
            width: 100px;
            height: 15px;
            background-image: url("safespace_logobg.png");
            background-size: 150px 50px;
            color: #fff;
            padding: 10px;
            font-size: 10pt;
            margin: auto;

            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
        }

        .enter a{ color: #fff; }
        .enter:hover{
            opacity: 0.7;
        }

        #main_div img{
            width: 300px;
            height: auto;
            margin-top: -200px;
            align-items:center;
            justify-content:center;
        }

    </style>
    </head>
    <body>
        <div id=main_div>
            <header></header>
        <aside><img class=img_home src="safespace_transparent.png" alt="safespace" width="750" height="213"> </aside>

             <div id="enterContainer" style="display: flex">
                <div class="enter"> <a href="dashboard">enter here</a> </div>
             </div>



        <div id=body> <div id=header_div>
            </div>
             </div>
        </div>

    </body>
</html>
